body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}
form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increased width */
  position: relative; /* For positioning button */
}
input[type="email"]{
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="submit"], button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
.message {
  margin-top: 10px;
  color: red;
}
.password {
  color: green;
  display: none; /* Initially hidden */
}
/* Styled button */
.top-button {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  background-color: white; /* Match form background */
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px;
  width: 100%; /* Allow width to fit content */
  border: none; /* No border */
}