*{
    font-family: "微軟正黑體", "Microsoft JhengHei",  Tahoma , Verdana , Arial , sans-serif;
}  

.admin-menu {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-menu .logo {
    margin-left: 20px;
}

.admin-menu .logo a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.admin-menu .logo img {
    max-height: 65px; /* Increased the max height of the logo */
    margin-right: 10px;
}

.admin-menu .menu-items {
    display: flex;
}

.admin-menu .menu-items li {
    list-style-type: none;
    margin: 0 10px;
}

.admin-menu .menu-items a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.admin-menu .menu-items a:hover {
    background-color: #555;
}

.admin-menu .menu-items li a img {
    max-height: 25px; /* Set the max height of the settings icon */
    vertical-align: middle; /* Align the image vertically with the text */
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 36px;
}

.card {
    cursor: pointer; /* Indicate that the card is clickable */
}


section.card {
    position: relative;
    width: 300px; /* Adjusted width for a larger card */
    height: 300px; /* Adjusted height for a larger card */
    background-color: #f2f2f2; /* Light mode background */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 40px auto; /* Center the card horizontally with margin */
}

.card svg {
    fill: #000; /* Light mode icon color */
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 3px;
}

/* Hover effects for the card */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #000000;
}

/* Card content styles */
.card__content {
    color: #000; /* Light mode text color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2; /* Light mode content background */
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    padding-left: 5px;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card.active .card__content {
    transform: rotateX(0deg); /* Show card content when active */
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #000000;
    line-height: 1.4;
}
/* Dark mode styles */
.dark-mode section.card {
    background-color: #333; /* Dark mode background */
}

.dark-mode .card svg {
    fill: #fff; /* Dark mode icon color */
}

.dark-mode .card__content {
color: #fff; /* Dark mode text color */
    background-color: #444; /* Dark mode content background */
}

.dark-mode .card__title {
    color: #fff; /* Dark mode title color */
}

.dark-mode .card__description {
    color: #ddd; /* Dark mode description color */
}

/* Card hover effects in dark mode */
.dark-mode .card:hover {
    box-shadow: 0 8px 16px #000000;
}

.dark-mode h1 {
    color: #ffffff; /* Light text for headings */
}

@media (max-width: 767px) {
    .admin-menu {
        background-color: #333;
        color: #fff; 
        padding: 10px;
        display: flex;
    }

    .admin-menu .logo {
        margin-bottom: 10px;
    }

    .admin-menu .logo a {
        color: #fff;
        text-decoration: none;
        display: flex;
    }

    .admin-menu .logo img {
        max-height: 50px;
        margin-right: 5px;
    }

    .admin-menu .menu-items {
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .admin-menu .menu-items li {
        list-style-type: none;
        margin: 5px 0;
    }

    .admin-menu .menu-items a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .admin-menu .menu-items a:hover {
        background-color: #555;
    }
}