.weather-section {
  background-color: #f0f8ff;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.weather-icon {
  font-size: 5rem;
  margin-right: 2rem;
  color: orange;
}

.weather-details {
  text-align: left;
}

#weather-description {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.weather-metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.weather-metric {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #666;
}

.weather-metric i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: rgb(0, 119, 255)
}

#weather-temperature,
#weather-wind,
#weather-humidity {
  font-size: 1.5rem;
  font-weight: bold;
}

.dark-mode .weather-section {
  background-color: #1e1e1e; /* Dark background for weather section */
  color: #ffffff; /* Light text */
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1); /* Light shadow for contrast */
}

.dark-mode .weather-details {
  color: #ffffff; /* Light text for weather details */
}

.dark-mode #weather-description {
  color: #ffffff; /* Light text for weather description */
}

.dark-mode .weather-metric {
  color: #aaaaaa; /* Lighter text for metrics */
}

.dark-mode .weather-metric i {
  color: rgb(0, 119, 255); /* Keep icon color */
}

@media (max-width: 767px) {
  .weather-section {
      padding: 1.5rem;
  }

  .weather-container {
      align-items: center;
  }

  .weather-icon {
      font-size: 4rem;
      margin-right: 0;
      margin-bottom: 1rem;
  }

  #weather-description {
      font-size: 1.2rem;
      text-align: center;
  }

  .weather-metrics {
      grid-gap: 1rem;
  }

  .weather-metric {
      font-size: 1rem;
  }

  .weather-metric i {
      font-size: 1.2rem;
  }

  #weather-temperature,
  #weather-wind,
  #weather-humidity {
      font-size: 1.2rem;
  }
}