h1 {
  margin-top: 20px;
  text-align: center;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.room {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.roomNum {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.admin-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.admin-buttons .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.admin-buttons .button:hover {
  background-color: #45a049;
}

.teacher-box,
.student-box {
  display: block;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #e9ecef;
}

.teacher-box[data-gender="m"],
.student-box[data-gender="m"] {
  background-color: #84bfff;
}

.teacher-box[data-gender="f"],
.student-box[data-gender="f"] {
  background-color: #ff6e7a;
}

.dark-mode .room {
  background-color: #333;
  color: #fff;
}


.dark-mode .teacher-box[data-gender="f"],
.dark-mode .student-box[data-gender="f"] {
  background-color: #a54a4a;
}

.dark-mode .teacher-box[data-gender="m"],
.dark-mode .student-box[data-gender="m"] {
  background-color: #3a6ea5;
}