.admin-menu {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-menu .logo {
    margin-left: 20px;
}

.admin-menu .logo a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.admin-menu .logo img {
    max-height: 65px; /* Increased the max height of the logo */
    margin-right: 10px;
}

.admin-menu .menu-items {
    display: flex;
}

.admin-menu .menu-items li {
    list-style-type: none;
    margin: 0 10px;
}

.admin-menu .menu-items a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.admin-menu .menu-items a:hover {
    background-color: #555;
}

.admin-menu .menu-items li a img {
    max-height: 25px; /* Set the max height of the settings icon */
    vertical-align: middle; /* Align the image vertically with the text */
}

.weather-section {
    background-color: #f0f8ff;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.weather-icon {
    font-size: 5rem;
    margin-right: 2rem;
    color: orange;
}

.weather-details {
    text-align: left;
}

#weather-description {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.weather-metrics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.weather-metric {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #666;
}

.weather-metric i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(0, 119, 255)
}

#weather-temperature,
#weather-wind,
#weather-humidity {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 767px) {
    .admin-menu {
        background-color: #333;
        color: #fff;
        padding: 10px;
        display: flex;
    }

    .admin-menu .logo {
        margin-bottom: 10px;
    }

    .admin-menu .logo a {
        color: #fff;
        text-decoration: none;
        display: flex;
    }

    .admin-menu .logo img {
        max-height: 50px;
        margin-right: 5px;
    }

    .admin-menu .menu-items {
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .admin-menu .menu-items li {
        list-style-type: none;
        margin: 5px 0;
    }

    .admin-menu .menu-items a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .admin-menu .menu-items a:hover {
        background-color: #555;
    }
  
    .weather-section {
      padding: 1.5rem;
    }
  
    .weather-container {
      align-items: center;
    }
  
    .weather-icon {
      font-size: 4rem;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    #weather-description {
      font-size: 1.2rem;
      text-align: center;
    }
  
    .weather-metrics {
      grid-gap: 1rem;
    }
  
    .weather-metric {
      font-size: 1rem;
    }
  
    .weather-metric i {
      font-size: 1.2rem;
    }
  
    #weather-temperature,
    #weather-wind,
    #weather-humidity {
      font-size: 1.2rem;
    }
  }